.work {
  .container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    font-family: "Mulish";
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    color: #fd695a;
  }

  &__title {
    width: 523px;
    font-family: "Mulish";
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #3d3d3f;
  }

  &__i {
    width: 300px;
    height: 300px;
    position: absolute;
    box-shadow: 7px 7px 10px 15px midnightblue;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #fd695a;
    transform: translateX(250px);
  }

  &__btn {
    width: 200px;
  }


  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__text {
    width: 508px;
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #515151;
  }

  &__item {
    width: 268px;
    height: 268px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }

  &__word {
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #37383d;
  }

  &__comment {
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #747474;
    margin-top: -20px;
  }

  &__link {
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #3d3d3f;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
